.profileCard {
  display: flex;
  align-items: center;
  gap: 8px; 
  background-color: #181818;
  padding: 8px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #282828;
  box-sizing: border-box;
}

.loginPointer {
  cursor: pointer;
}

.loginPointer:hover {
  background-color: #282828;
  border-color: #1DB954;
  transform: translateY(-2px);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.username {
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}