.profileCard {
  display: flex;
  align-items: center;
  gap: 12px; 
  padding: 8px;
  background-color: var(--spotify-dark-gray);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--spotify-gray);
  box-sizing: border-box;
}

.notLoggedIn {
  cursor: pointer;
}
.notLoggedIn:hover {
  background-color: var(--spotify-gray);
  border-color: var(--spotify-green);
  transform: translateY(-2px);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.username {
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}