.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    gap: 1.5dvh;
    flex: 1;
    width: 100vw;
    overflow: hidden;
    background-color: #000;
}
.header {
    width: 100%;
    min-height: 40px;
    height: 6vh;
    height: 6dvh;

    padding: 0 1vh;

    background-color: var(--spotify-dark-gray);
    border-bottom: 1px solid var(--spotify-light-border);
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;

    display: flex;
    gap: 6px;
    align-items: center;
    justify-items: center;
}
.headerButton {
    flex: 1;
    height: 3.5vh;
    background-color: var(--spotify-dark-gray); 
    color: var(--spotify-white);
    border-radius: 15px 5px 5px 15px;
    padding: 8px 10px;
    line-height: 14px;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerButton:nth-last-child(1) {
    border-radius: 5px 15px 15px 5px;
}
.activeHeaderButton {
    background-color: var(--spotify-green);
    color: #000;
}
.mainContent {
    flex: 1;
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    padding: 2vh;
    padding: 2dvh;
    padding-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
}
.mainContentHeader {
    margin: 0 0 5px 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--spotify-black);
    text-align: center;
}
.currentlyPlaying {
    margin-bottom: 1vh;
    margin-bottom: 1dvh;
    background-color: var(--spotify-green);
    border-radius: 10px;
    padding: 5px;
}
.addedTrackList {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    gap: 1dvh;
}
.userGrid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1vh;
    gap: 1dvh;
}