.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 3vh 3vh 3vh;
    padding: 0 3dvh 3dvh 3dvh;
}
.header {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0.8rem;
    color: var(--spotify-white);
    letter-spacing: -0.04rem;
}
.subHeader {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    color: var(--spotify-white);
}
.list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    gap: 1dvh;
    width: 100%;
    padding-bottom: calc(2vh + 3rem);
    padding-bottom: calc(2dvh + 3rem);
}
.libraryStickyHeader {
    position: sticky;
    top: -0.5rem;
    padding-bottom: 0.5rem;
    background: linear-gradient(
        to bottom, 
        var(--spotify-black) 0%, 
        var(--spotify-black) 90%, 
        transparent 100%
    );    
    z-index: 20;
}
.filterBar {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.chip {
    background-color: var(--spotify-gray);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}
.activeChip {
    background-color: var(--spotify-green);
    color: black;
}

/* Playlist Detail View */
.playlistDataWrapper {
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.playlistImage {
    width: 128px;
    height: 128px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    flex-shrink: 0;
    background: transparent;
    border-radius: 4px;
}
.playlistInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-left: 1rem;
    padding-bottom: 3%;
}
.upperTitle {
    font-size: 0.8rem;
    font-weight: 600;
}
.playlistName {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    margin: 0.6rem 0;
}
.playlistStats {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    color: var(--spotify-light-gray);
}
.backButton {
    position: absolute;
    transform: translateY(-100%);
    height: calc((max(2dvh, 8px) * 2) + 19.1667px);
    aspect-ratio: 1/1;
    border-radius: 20px 0 0 0;
    background: var(--spotify-dark-gray);
    background: linear-gradient(
        to right, 
        var(--spotify-dark-gray) 0%,
        var(--spotify-dark-gray) 75%,
        rgba(255, 255, 255, 0) 100%
    );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    font-size: 1.75rem;
    cursor: pointer;
}
.capsule {
    border-radius: 50%;
}