.addedCard {
    display: flex;
    flex-direction: column;
    background-color: var(--spotify-dark-gray);
    border-radius: 4px 10px 10px 10px;
    overflow: hidden;
    flex-shrink: 0;
}
.addedBy {
    color: var(--spotify-gray);
    background-color: var(--spotify-player);
    color: var(--spotify-light-gray);
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid transparent;
    gap: 8px;
}
.authorized {
    border-bottom: 2px solid var(--spotify-green);
}
.profileName {
    flex: 1;
    text-align: right;
    color: var(--spotify-white);
}
.miniAvatar {
    height: calc(0.85rem + 6px);
    margin: -3px 0;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    background-color: var(--spotify-white);
}