.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Top Section */
.topSection {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 10px;
  overflow: hidden;
}
.spotifyLogo {
  width: 180px;
  height: auto;
}
.showQRButton {
  padding: 10px 15px;

  background-color: var(--spotify-green);
  color: var(--spotify-black);
  border-radius: 10px;

  font-size: 1.2rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
}
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
.qrCode {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 0 70px var(--spotify-strong-border);
}
.modalHeader {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 5px 0 0 0;
  font-family: 'Poppins', sans-serif;
}
.modalText {
  color: var(--spotify-green);
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 5px 0;
  font-family: 'Roboto Mono', monospace;
}

/* Middle Section */
.middleSection {
  height: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.albumImage {
  width: 75%;
  height: auto;
  max-width: 400px;
  border-radius: 4px;
}
.trackInfo {
  text-align: center;
}
.trackTitle {
  margin: 0;
  margin: 0 10px 10px 10px;
  font-size: 2rem;
  font-weight: 700;
}
.trackArtist {
  margin: 0 10px 0 10px;
  font-size: 1.2rem;
  color: var(--spotify-light-gray);
}

/* Bottom Section */
.bottomSection {
  position: relative;
  height: 8%;
  display: flex;
  flex-direction: row;
  padding: 0 20px 20px 0;
  align-items: center;
  justify-content: end;
}
.optionsPanel {
  height: 80%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 10px;
  background-color: var(--spotify-green);
  transform-origin: right center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.optionsButton {
  position: relative;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--spotify-green);
  color: var(--spotify-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionsButton:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.mainOptionsButton {
  height: 80%;
}
.optionButtonImg {
  height: 100%;
  width: 100%;
}
.controlBox {
  position: absolute;
  bottom: 110%;

  width: 8rem;
  padding: 10px;
  background-color: var(--spotify-green);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: var(--spotify-dark-gray);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--spotify-dark-gray);
  border-radius: 50%;
  cursor: pointer;
}
.volumeSlider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--spotify-dark-gray);
  border-radius: 50%;
  cursor: pointer;
}
.resolutionSelect {
  width: 100%;
  padding: 10px 40px 10px 16px;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: sans-serif;
  color: var(--spotify-light-gray);
  background-color: var(--spotify-black);
  
  border: 1px solid var(--spotify-dark-gray);
  border-radius: 10px;
  cursor: pointer;
}
.tvQRWrapper {
  display: none;
}
.mobileQRWrapper {
  display: block;
}

/* TV view */
@media (min-width: 1300px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 90% 10%;
  }
  .middleSection {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
  }
  .topSection {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: var(--spotify-dark-gray);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;    
  }
  .mobileQRWrapper {
    display: none;
  }
  .tvQRWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .bottomSection {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    background-color: var(--spotify-dark-gray);
    box-sizing: border-box;
  }
   .optionsPanel {
    height: auto;
  }
  .optionsButton {
    height: auto;
    padding: 10px;
  }
  .optionButtonImg {
    height: 2.5rem;
    width: 2.5rem;
  }
  .hideQRButton {
    display: none;
  }
}