.trackCard {
    display: flex;
    /* align-items: center; */
    padding: 0 15px 0 0; 
    border-radius: 4px;
    gap: 12px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
}

.albumImage {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    object-fit: cover;
    flex-shrink: 0;
}

.trackDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    padding: 5px 0;
}

.trackName {
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trackArtists {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--spotify-light-gray);
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trackMeta {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.duration {
    color: var(--spotify-light-gray);
    font-size: 0.8rem;
    font-variant-numeric: tabular-nums;
}

.squared {
    border-radius: 0;
}